.navbar{
    width: 100%;
    height: 80px;
    background: #92E3A9;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.logo{
    margin-left: 100px;
    width: 140px;
    height: 25px;
}

.nav-links{
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    font-size: 17px;
}

a{
    text-decoration: none;
    color: #000;
    /* font-weight: 500; */
}

a:hover{
    text-decoration: underline;
}

.login-register{
    display: flex;
    align-items: center;
    gap: 5px; 
}

